<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDGK1FA_7ZEJMMEOpdVNManTjCids_vL44</string>
	<key>GCM_SENDER_ID</key>
	<string>1007302827188</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firesbaseTest</string>
	<key>PROJECT_ID</key>
	<string>product-list-test-99210</string>
	<key>STORAGE_BUCKET</key>
	<string>product-list-test-99210.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1007302827188:ios:2c7d35a02e92a046558be1</string>
</dict>
</plist>